html{
	font-size: 62.5%;
}

body{
<<<<<<< HEAD
	-webkit-background-size: cover;
	background-size: cover;
	background: url(../images/bg-3.jpg) no-repeat;
	font-family: 'Dosis', sans-serif;
	/*background: #0F0F0F;*/
	/*background: #000;*/
	color: #6D6C6C;
=======
	/*-webkit-background-size: cover;
	background-size: cover;*/
	/*background: #0F0F0F;*/
	/*background: #000;*/
	/*background: url(../images/logo-1.jpg) no-repeat;*/
	color: #ccc;
>>>>>>> 43d475aaf8de48a8b4ecf35f3cbfa335fdc32991
}

.container{
	/*background: #000;*/
	/* background: #0F0F0F; */
<<<<<<< HEAD
	background: rgba(255,255,255,0.5);
	margin-top: 100px;
	padding: 20px !important;
	padding-bottom: 50px !important;

=======
>>>>>>> 43d475aaf8de48a8b4ecf35f3cbfa335fdc32991
}

img{
	max-width: 100%;
/*	width: 100px ;
	height: 100px ;*/
}

<<<<<<< HEAD
h1{
	background: rgba(255,255,255,0.6);
	padding: 10px 5px;
}


.bg-text{
	/*border: 1px solid #ccc;*/
	background: rgba(255,255,255,0.6);
=======

.border{
	border: 1px solid #ccc;
	background: #0F0F0F;
>>>>>>> 43d475aaf8de48a8b4ecf35f3cbfa335fdc32991
	display: inline-block;
	padding: 0 10px;
}

/*b {
	color: #fff;
}*/


.login{
	max-width: 500px;
	margin: 50px auto;
<<<<<<< HEAD
	background: rgba(0,0,0,0.7);
=======
	background: #000;
>>>>>>> 43d475aaf8de48a8b4ecf35f3cbfa335fdc32991
	border-radius: 6px;
	padding: 10px;
}
/*--------------------------- navbar .................................*/
.logo .img-logo{
	height: 50px;
}

.navbar-fixed-top{
	/*padding-left: 20px;*/
	padding-right: 20px;
}

.navbar-brand img{
	width: 60px;
}

<<<<<<< HEAD
.navbar-brand{
	background: #fff;
}
=======
/*.navbar-brand{
	background: #000;
}*/
>>>>>>> 43d475aaf8de48a8b4ecf35f3cbfa335fdc32991

/*.navbar-brand a:hover{
	background: #333232;
}
*/
/*.nav .navbar-nav .navbar-right .btn{
	padding: 5px;
}*/

/*----------------------------------------------------------------*/


/*.row{
	margin-left: 0;
	margin-right: 0;
}*/

.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}

<<<<<<< HEAD
=======
/*---------------------------- plat --------------------------------*/

.plat{
	font-family: 'Montserrat', sans-serif;
	/*border-bottom: 1px solid #333232;*/
	margin: 0 0 10px 0;
}

.jour{
	text-align: left;
	font-size: 3rem;

}
.img-plat{
	margin-bottom: 20px;
}

/*.home{
	border: 1px solid #333232;

}*/
>>>>>>> 43d475aaf8de48a8b4ecf35f3cbfa335fdc32991

.footer{
	text-align: center;
	padding: 20px;
}



.scrollup{
    width:40px;
    height:50px;
    opacity:0.5;
    bottom:60px;
    position:fixed;
    right:30px;
    text-indent:-999px;
    background: url('http://i66.tinypic.com/6t3jba.png') no-repeat;
    display:none;
    cursor:pointer;
    z-index: 9999;
}

/*label strong{
	color: #0F0F0F;
}*/