html{
	font-size: 62.5%!important;
}

body{
	font-family: 'Dosis', sans-serif;
	-webkit-background-size: cover;
	background-size: cover;
	background: url(../images/bg-3.jpg) no-repeat;
	background-attachment : fixed;
	color: #6D6C6C;
	font-size: 1.8rem;
}

.container{
	background: rgba(255,255,255,0.5);
	margin-top: 100px;
	padding: 20px !important;
	padding-bottom: 50px !important;
}

img{
	max-width: 100%;
}

hr{
	border-top: none;
}

h1{
	background: rgba(255,255,255,0.6);
	padding: 10px 5px;
}

h2{
	background: rgba(255,255,255,0.6);
	padding: 10px 5px;
	text-align: center;
	color: #6d6e6e;
	/*box-shadow: 2px 4px 4px #999999*/
}

ul{
	padding: 0;
}

.bg-text{
	/*border: 1px solid #ccc;*/
	background: rgba(255,255,255,0.6);
	display: inline-block;
	padding: 0 10px;
	/*box-shadow: 5px 10px 8px #999999;*/
}

.login{
	max-width: 500px;
	margin: 50px auto;
	background: rgba(0,0,0,0.7);
	border-radius: 6px;
	padding: 10px;
}
/*--------------------------- navbar .................................*/
.logo .img-logo{
	height: 50px;
}

.navbar-fixed-top{
	/*padding-left: 20px;*/
	padding-right: 20px;
}

.nav{
	font-size: 1.4rem;
}

.navbar-brand img{
	width: 60px;
}

.navbar-brand{
	/*background: #fff;*/
	font-weight: bold;
	/*font-size: 1.8rem;*/
}

.navbar-default .navbar-brand{
	font-size: 2.2rem;
}

.nav .navbar-nav .navbar-right ul li{
	padding-left: 10px;
}

/*.navbar-brand a:hover{
	background: #333232;
}
*/
/*.nav .navbar-nav .navbar-right .btn{
	padding: 5px;
}*/

/*----------------------------------------------------------------*/
.green{
	/*background: rgba(208,252,189,0.6);*/
	/*box-shadow: 2px 2px 4px #999999;*/

}

.classWithPad h2{
	background: rgba(0,0,0,0.7);
	color: #eee;
/*	transform-origin: 0 0;
	transform: rotate(5deg);*/

}

.ui-widget-highlight, .ui-widget-error  { 
    font-size: 12px; 
    background: #000;
}



#sortable1 .article, #sortable1 h2{
	border-bottom: rgba(255,255,255,0.9) solid 4px;
}

#sortable2 .article, #sortable2 h2{
	border-bottom: rgba(77,247,4,0.5) solid 4px;
}

#sortable3 .article, #sortable3 h2{
	border-bottom: rgba(247,240,34,0.5) solid 4px;
}

#sortable4 .article, #sortable4 h2{
	border-bottom: rgba(247,169,34,0.5) solid 4px;
}

#sortable5 .article, #sortable5 h2{
	border-bottom: rgba(247,38,34,0.5) solid 4px;
}
/*.row{
	margin-left: 0;
	margin-right: 0;
}*/

.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}

.ui-widget-header,
.ui-state-default,
.ui-button {
  background: #CCCCCC;
  border: 1px solid #B8B8B8;
  color: #000;
  font-weight: bold;
}

/*#error .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #C71515; 
    color: #ffffff;
}*/

.footer{
	text-align: center;
	padding: 20px;
}

.scrollup{
    width:40px;
    height:50px;
    opacity:0.5;
    bottom:60px;
    position:fixed;
    right:30px;
    text-indent:-999px;
    background: url('http://i66.tinypic.com/6t3jba.png') no-repeat;
    display:none;
    cursor:pointer;
    z-index: 9999;
}
